# Server properties
server:
  port: 8888

# Information for the info endpoint
info:
  app:
    environment: DEFAULT
    name: Config Server
    description: Config Server for Video Streaming Platform
    version: 1.0.0

# Spring application properties
spring:
  application:
    name: configserver
  profiles:
    active: native
#    active: git
  config:
    import:
      - optional:file:./env.properties
  cloud:
    config:
      server:
        native:
          searchLocations: classpath:/config
#        git:
#          username: ${GITHUB_USERNAME}
#          password: ${GITHUB_PASSWORD}
#          uri: ${GITHUB_REPO_URI}
#          clone-on-start: true
#          default-label: main   # branch name
      failFast: true
      retry:
        initialInterval: 3000
        multiplier: 1.3
        maxInterval: 10000
        maxAttempts: 20

# Eureka configuration
eureka:
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: ${EUREKA_CLIENT_DEFAULT_ZONE}
  instance:
    preferIpAddress: true

# Management properties
endpoints:
  shutdown:
    enabled: true
management:
  info:
    env:
      enabled: true
  endpoint:
    shutdown:
      enabled: true
  endpoints:
    web:
      exposure:
        include: info, health, refresh, shutdown

# Logging properties
logging:
  level:
    root: ERROR
    com.proactivetechie: INFO
    org.springframework: INFO
    org.hibernate: INFO
